$color-primary: rgba(147, 17, 187, 0.801);
$color-primary-dark: rgba(20, 20, 204, 0.801);
$color-smoke-white: rgb(245, 245, 245);
$color-blue: #4FDCFF;
$color-blue-dark: rgb(63, 63, 191);
$color-green-light:rgba(85, 241, 65, 0.801);
$color-green-dark:rgba(40, 180, 133, 0.801);
$color-gold: rgb(251, 191, 13);
$color-black: rgb(15, 15, 14);


$default-font-size: 1.6rem;